*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}

#mainsection{
    width:100%;
    height:100%;
}

.content-image{
    height:200px;
    width:300px;
    padding:80px 60px;
    margin:150px 0 -50px 0;
}

#sidebar{
    width:15%;
    height:100%;
    background-color: limegreen;
    position:fixed;
    right:0px;
    overflow-y:auto;
    text-align: center;
}

#menu{
    padding:30px;
    color:white;
    overflow:auto;
}

.menu-item{
    margin:40px 0;
    cursor:pointer;
    text-align:center;
    transition:0.8s;
}


.menu-item:hover{
    margin:50px 0;
    cursor:pointer;
    text-align:center;
    color:darkslategray;
    font-size:1.2em;
}

#logo{
    height:150px;
    width:150px;
    position:absolute;
    left:35%;
}


#backup{
    height:30px;
    width:30px;
    color:white;
    background-color:orangered;
    border:none;
    outline:none;
    border-radius:5px;
    position:fixed;
    left:20px;
    bottom:20px;
    display:none;
    cursor: pointer;
    transition:0.6s
}

.title{
    margin-left:200px;
    margin-right:75px;
    width:120px;
}

#backup:hover{
    height:30px;
    width:30px;
    color:white;
    background-color:maroon;
    border:none;
    outline:none;
    border-radius:5px;
    position:fixed;
    left:20px;
    bottom:20px;
    display:none;
    cursor: pointer;
}

.image{
    height:300px;
    width:500px;
    display:inline-block;
    direction:rtl;
    text-align: right;
}


#content-div{
    width:80%;
}

@media (min-width:800px) and (max-width:899px){
    #logo{
        height:150px;
        width:150px;
        position:absolute;
        left:35%;
    }

    #menu{
        padding:10px;
        color:white;
        overflow:auto;
    }
    
    .menu-item{
        margin:30px 0;
        cursor:pointer;
        text-align:center;
        transition: 0.8s;
    }

    .menu-item:hover{
        margin:35px 0;
        cursor:pointer;
        text-align:center;
        color:darkslategray;
        font-size:1.17em;
    }
    
}

@media (max-width:799px) and (min-width:700px){
    #logo{
        height:150px;
        width:150px;
        position:absolute;
        left:35%;
    }

    #menu{
        padding:10px;
        color:white;
        overflow:auto;
    }

    .content-image{
        height:200px;
        width:300px;
        padding:80px 60px;
        margin:110px 0 -50px 0;
    }
    
    .menu-item{
        margin:30px 0;
        cursor:pointer;
        text-align:center;
        transition:0.8s
    }

    .menu-item:hover{
        margin:35px 0;
        cursor:pointer;
        text-align:center;
        color:darkslategray;
        font-size:1.14em;
    }
    
}

@media (max-width:699px) and (min-width:600px){
    #logo{
        height:150px;
        width:150px;
        position:absolute;
        left:35%;
    }

    #menu{
        padding:8px;
        color:white;
        overflow:auto;
    }

    .content-image{
        height:200px;
        width:300px;
        padding:80px 60px;
        margin:110px 0 -50px 0;
    }
    
    .menu-item{
        margin:30px 0;
        cursor:pointer;
        text-align:center;
        transition:0.8s;
    }

    .menu-item:hover{
        margin:35px 0;
        cursor:pointer;
        text-align:center;
        color:darkslategray;
        font-size:1.14em;
    }
}

@media (max-width:599px) and (min-width:500px){
    #logo{
        height:140px;
        width:140px;
        position:absolute;
        left:35%;
    }

    #menu{
        padding:3px;
        color:white;
        overflow:auto;
    }


    .content-image{
        height:200px;
        width:300px;
        padding:80px 60px;
        margin:110px 0 -50px 0;
    }
    
    .menu-item{
        margin:30px 0;
        cursor:pointer;
        text-align:center;
        transition: 0.8s;
    }

    .menu-item:hover{
        margin:33px 0;
        cursor:pointer;
        text-align:center;
        color:darkslategray;
        font-size:1em;
    }

    .image{
        height:200px;
        width:400px;
        display:inline-block;
        margin-bottom:0px;
        direction:rtl;
        text-align: right;
    }
    
    
    #content-div{
        width:87%;
    }

    .title{
        margin-left:200px;
        margin-right:75px;
        width:120px;
    }

    #mainsection{
        width:100%;
        height:100%;
    }

}

@media (max-width:499px) and (min-width:400px){
    #logo{
        height:120px;
        width:120px;
        position:absolute;
        left:35%;
    }

    #menu{
        padding:3px;
        color:white;
        overflow:auto;
    }

    .content-image{
        height:120px;
        width:180px;
        padding:80px 60px;
        margin:90px 0 -50px 0;
    }
    
    .menu-item{
        margin:30px 0;
        cursor:pointer;
        text-align:center;
        font-size:1em;
        transition:0.8s;
    }

    #sidebar{
        width:25%;
    }

    .menu-item:hover{
        margin:34px 0;
        cursor:pointer;
        text-align:center;
        color:darkslategray;
        font-size:1em;
    }

    .image{
        height:180px;
        width:320px;
        display:inline-block;
        margin-bottom:0px;
        direction:rtl;
        text-align: right;
    }
    
    
    #content-div{
        width:87%;
    }

    .title{
        margin-left:200px;
        margin-right:75px;
        width:120px;
        font-size:1.1em;
    }

    #mainsection{
        width:100%;
        height:100%;
    }
    
}

@media (max-width:399px) and (min-width:300px){
    #logo{
        height:100px;
        width:100px;
        position:absolute;
        left:35%;
        margin-bottom:100px;
    }

    #menu{
        padding:3px;
        color:white;
        overflow:auto;
    }
    
    .menu-item{
        margin:30px 0;
        cursor:pointer;
        text-align:center;
        font-size:0.9em;
        transition:0.8s;
    }

    .menu-item:hover{
        margin:35px 0;
        cursor:pointer;
        text-align:center;
        color:darkslategray;
        font-size:1em;
    }


    .image{
        height:150px;
        width:270px;
        display:inline-block;
        margin-bottom:0px;
        direction:rtl;
        text-align: right;
    }
    
    
    #content-div{
        width:87%;
    }

    .title{
        margin-left:200px;
        margin-right:90px;
        width:120px;
        font-size:0.95em;
    }


    #sidebar{
        width:25%;
        height:100%;
        background-color: limegreen;
        position:fixed;
        right:0px;
        overflow-y:auto;
    }

    #mainsection{
        width:100%;
        height:100%;
    }

    .content-image{
        height:120px;
        width:180px;
        padding:80px 60px;
        margin:60px 0 -50px 0;
    }
    
    
}

@media (max-width:1154px) and (min-width:1040px){
    .content-image{
        height:180px;
        width:270px;
        padding:80px 60px;
        margin-bottom: -50px;
    }

    .title{
        margin-left:200px;
        margin-right:75px;
        width:120px;
    }

    .image{
        height:280px;
        width:450px;
        display:inline-block;
        margin-bottom:0px;
        direction:rtl;
        text-align: right;
    }
    
    
    #content-div{
        width:87%;
    }

}

@media (max-width:299px){
    #logo{
        height:90px;
        width:90px;
        padding-left:0%;
        outline:none;
        margin:0;
    }

    #menu{
        padding:3px;
        color:white;
        overflow:auto;
    }
    
    .menu-item{
        margin:30px 0;
        cursor:pointer;
        text-align:center;
        font-size:0.9em;
        transition: 0.8s;
    }

    .menu-item:hover{
        margin:35px 0;
        cursor:pointer;
        text-align:center;
        color:darkslategray;
        font-size:1em;
    }

    .image{
        height:150px;
        width:270px;
        display:inline-block;
        margin-bottom:0px;
        direction:rtl;
        text-align: right;
    }
    
    
    #content-div{
        width:87%;
    }

    .title{
        margin-left:200px;
        margin-right:90px;
        width:120px;
        font-size:0.95em;
    }


    #sidebar{
        width:25%;
        height:100%;
        background-color: limegreen;
        position:fixed;
        right:0px;
        overflow-y:auto;
    }

    #mainsection{
        width:100%;
        height:100%;
    }
    
    .content-image{
        height:120px;
        width:180px;
        padding:80px 60px;
        margin:60px 0 -50px 0;
    }
}
