*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}

#headsection{
    height:220px;
    border-bottom:4px solid grey;
}

#logo{
    height:150px;
    width:150px;
    position:absolute;
    left:600px;
    top:20px;
}

#categories{
    height:50px;
    width:100%;
    display:flex;
    list-style: none;
    align-items: start;
    position: absolute;
    top:185px;
}

#categories li{
    padding:0px 50px;
    cursor:pointer;
    direction:rtl;
}

#threelines{
    height:22px;
    width:15x;
    position:absolute;
    left:20px;
    top:20px;
    cursor: pointer;
}

.content-image{
    height:350px;
    width:525px;
    padding:0 70px;
    padding-top: 50px;
}

#content-div{
    display:inline-block;
}

#backup{
    height:30px;
    width:30px;
    color:white;
    background-color:orangered;
    border:none;
    outline:none;
    border-radius:5px;
    position:fixed;
    right:20px;
    bottom:20px;
    display:none;
    cursor: pointer;
    transition:0.6s
}

#backup:hover{
    height:30px;
    width:30px;
    color:white;
    background-color:maroon;
    border:none;
    outline:none;
    border-radius:5px;
    position:fixed;
    right:20px;
    bottom:20px;
    display:none;
    cursor: pointer;
}

#image{
    height:400px;
    width:525px;
    display: inline-block;
    direction:rtl;
}
